.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.content {
  margin: 0 auto;
  max-width: 900px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.link,
.link:visited,
.link:link,
.link:active,
.link:focus,
.link:hover {
  color: #744cbc;
  text-decoration: none;
}